        <form action="/sign-in" method='post'>
            <input type="text" name='email' placeholder="Enter username">
            <input type="password" name='password' placeholder="Enter password">
            <a href="sign-up">New here?</a>
            <button type="submit">Login</button>
        </form>