<label class='label'>
  Title :
</label>
<input type='text' id='title' placeholder='Title' />
<br />
<br />
<label class='label'>
  Categories :
</label>
<input type='text' id='categories' placeholder='Categories' />
<br />
<label class='label'></label>
<button id='button'>
  Post
</button>
<br />
<label class='label'></label>

<span>
  <a href='userHome'>
    Goto user home
  </a>
</span>
<br />
<p id='messageHolder'></p>

<script>
  const title = document.getElementById('title')
let categories = document.getElementById('categories')
  categories = categories.value.split(",")

const button = document.getElementById("button")
    button.addEventListener('click', postTodo)
const messageHolder = document.getElementById('messageHolder')


    async function postTodo(){
            const rawData = await fetch('http://localhost:5000/todo', {
          // Adding method type
          method: 'POST',

          // Adding body or contents to send
          body: JSON.stringify({
            title: title.value,
            category: categories,
          }),

          // Adding headers to the request
          headers: {
            'Authorization':sessionStorage.getItem('token'),
            'Content-type': 'application/json; charset=UTF-8',
          },
        })
        const json = await rawData.json()
        console.log(json)
        if(json.message) {
            messageHolder.innerText = json.message
        }
        else{
            messageHolder.innerText = "Posted a todo successfully"

        }
    }
</script>