    <form action="/sign-up" method='post'>
        <input type="text" name='username' placeholder="Enter name">
        <input type="text" name='email' placeholder="Enter email">
        <input type="password" name='password' placeholder="Enter password">
        <a href="sign-in">Already a user?</a>
        <button type="submit">Register</button>
    </form>