<button id='logout'>
  Logout
</button>
<br />
<div id='container'>
  <div id='filters' style="flex-grow: 1">
    <input type='text' id="searchText" />
    <button id="searchBtn">
      Search
    </button>

    <br />
    <p>
      Sort by Date:
    </p>
    <input id="sortAsc" type='radio' id='html' name='fav_language' value='Ascending' />
    <label for='html'>
      Asc
    </label>
    <br />
    <input id="sortDesc" type='radio' id='css' name='fav_language' value='Descending' />
    <label for='css'>
      Desc
    </label>

    <p id="categories">Categories:</p>
    
  </div>

  <div id='todos' style="flex-grow: 8">
    <h4>
      <span>
        Sl. No.
      </span>
      <span>
        Title
      </span>
      <span>
        Status
      </span>
      <span>
        Mark it done
      </span>
      <span>
        Delete
      </span>
    </h4>
  </div>
</div>

<script>
    const searchText = document.getElementById('searchText');
    const searchBtn = document.getElementById('searchBtn');
    const sortAsc = document.getElementById('sortAsc');
    const sortDesc = document.getElementById('sortDesc');

  (async () => {
  // fetching todo api and creating elements dynamically and appending the response data
        const rawData = await fetch('http://localhost:5000/todo', {
          method: 'get',
          headers: {
            'Authorization': sessionStorage.getItem('token'),
            'Content-type': 'application/json; charset=UTF-8',
          },
        })
        // calling .json() method on response
        const json = await rawData.json()

        json.todo.map((obj, index) => {
          // Dynamically creating div element and adding id = obj._id
        const todo = document.createElement('div');
        todo.id = obj._id;

        // Dynamically creating span element with obj serial no. as text and appending to todo div
        const span = document.createElement('span');
        const slNo = document.createTextNode(index+1);
        span.appendChild(slNo);
        todo.appendChild(span);

        // Dynamically creating span element with obj title  as text and appending to todo div
        const span2 = document.createElement('span');
        const title = document.createTextNode(obj.title);
        span2.appendChild(title);
        todo.appendChild(span2);

        // Dynamically creating span element with obj status  as text and appending to todo div
        const span3 = document.createElement('span');
        const status = document.createTextNode(obj.isCompleted ? 'done' : 'pending');
        span3.appendChild(status);
        todo.appendChild(span3);
        
        // Dynamically creating button element with Mark it ddone  as text and appending to todo div
        const button = document.createElement('button');
        const buttonTextMarkItDone = document.createTextNode('Mark it done');
        button.appendChild(buttonTextMarkItDone);
        todo.appendChild(button);

        // Dynamically creating button element with Delete  as text and appending to todo div
        const button2 = document.createElement('button');
        const buttonTextDelete = document.createTextNode('Delete');
        button2.append(buttonTextDelete);
        todo.appendChild(button2);
        
        ///Appending the div to todos id
        document.getElementById('todos').appendChild(todo);
        })        
  })()

  // Logout button fucntion
  const logoutBtn = document.getElementById('logout')
  logoutBtn.addEventListener('click', logout)
  function logout (){
    sessionStorage.removeItem('token')
    window.location.href = "http://localhost:5000/"
  }
</script>