<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
<style>
h1{
}
</style>


</head>
<body>
    {{{body}}}
<script>
    let token = document.getElementById("token");
localStorage.setItem("token", token.innerText)
    token.style.display = "none"

    fetch("http://localhost:5000/todo",{method:"POST", headers:{Authorization:token.innerText}, redirect:'follow'})
    {{!-- .then(data => {
        console.log(data)
    }) --}}

    {{!-- let link = document.getElementById("link");
    link.style.display = "none"
    link.click(); --}}

</script>
</body>
</html>